<table class="table">
    <thead>
        <tr>
            <th scope="col">TODO</th>
        </tr>
    </thead>
    <tbody id="todo_table">

    </tbody>
    <form id="complete_todo_form" action="/complete_todo" method="post"></form>
</table>